<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-secret"></i> Change password
      </h1>
      <form
        action="/api/v1/change-password?token=<%= user.token %>"
        method="POST"
      >
        <div class="form-group">
          <label for="name">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Your New Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>

        <button type="submit" class="btn btn-success btn-block">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
