<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.firstName %>!</p>
<a href="/api/v1/me?token=<%= user.token %>" class="btn btn-info">My Profile</a>

<a href="/" class="btn btn-secondary">Logout</a>
