<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<% if (transactions.length > 0) { %>
<div>
  <% for (let transaction of transactions) { %>
  <article>
      <span><%= transaction.transactionType %></span>
    <span><%= transaction.itemName %></span>
    <span><%= transaction.amount %></span>
    <!-- <span><%= transaction.category %></span> -->
  </article>
  <% } %>
</div>
<% } else { %>
<h1>No Transactions Found!</h1>
<% } %>
